* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Tahoma, sans-serif;
}

.continer {
  width: 1000px;
  margin: 20px auto;
}

hr {
  border: 1px solid #eee;
}

.game-info {
  display: flex;
}

.game-info .game-name {
  flex: 1;
}

.game-info .category {
  flex: 1;
  text-align: right;
}

.game-info .category span {
  color: #e91e63;
  text-transform: capitalize;
  font-weight: bold;
}

.hangman-draw {
  flex: 1;
  background-color: #f0e7e7;
  padding: 20px;
  height: 324px;
}

.hangman-draw .the-draw {
  width: 60px;
  height: 280px;
  border-bottom: 4px solid #222;
  position: relative;
  margin: auto;
  display: none;
}
.hangman-draw .stand {
  display: none;
}
.hangman-draw .stand::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: #222;
  left: 50%;
  margin-left: -2px;
}
.hangman-draw .hang {
  display: none;
}
.hangman-draw .hang::before {
  content: '';
  position: absolute;
  height: 4px;
  width: 100px;
  background-color: #222;
  left: 30px;
  top: 15px;
}

.hangman-draw .hang::after {
  content: '';
  position: absolute;
  width: 4px;
  height: 30px;
  background-color: #222;
  left: 130px;
  top: 15px;
}

.hangman-draw .rope {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;

  border: 4px dashed #222;
  left: 95px;
  top: 45px;
  display: none;
}

.hangman-draw .man .head {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;

  border: 4px solid #222;
  left: 110px;
  top: 64px;
  display: none;
}

.hangman-draw .man .body {
  position: absolute;
  background-color: #222;
  width: 4px;
  height: 110px;
  top: 104px;
  left: 130px;
  display: none;
}
.hangman-draw .man .hands {
  display: none;
}
.hangman-draw .man .hands::before,
.hangman-draw .man .hands::after {
  content: '';
  position: absolute;
  background-color: #222;
  width: 50px;
  height: 4px;
  top: 140px;
}

.hangman-draw .man .hands::before {
  left: 130px;
  transform: rotate(-30deg);
}

.hangman-draw .man .hands::after {
  left: 85px;
  transform: rotate(30deg);
}

.hangman-draw .man .legs {
  display: none;
}
.hangman-draw .man .legs::before,
.hangman-draw .man .legs::after {
  content: '';
  position: absolute;
  background-color: #222;
  width: 50px;
  height: 4px;
  top: 230px;
}

.hangman-draw .man .legs::before {
  left: 120px;
  transform: rotate(60deg);
}

.hangman-draw .man .legs::after {
  left: 95px;
  transform: rotate(-60deg);
}

.letters {
  flex: 1;
  padding: 15px;
  text-align: center;
}
.letters.finished {
  pointer-events: none;
}

.letters .letter-box {
  width: 55px;
  height: 55px;
  display: inline-block;
  background-color: rgb(14, 131, 125);
  color: #fff;
  font-size: 24px;
  margin-left: 10px;
  margin-bottom: 10px;
  line-height: 55px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.letters .letter-box.clicked {
  background-color: #222;
  opacity: 0.5;
  pointer-events: none;
}
.lettters-guess {
  margin: 10px auto;
  padding: 20px;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  min-height: 104px;
}

.lettters-guess span {
  width: 60px;
  height: 60px;
  font-size: 24px;
  margin-right: 10px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #fdfdfd;
  border-bottom: 3px solid #222;
  transition: 0.3s;
}

.lettters-guess span.has-space {
  background: none;
  border: none;
  position: relative;
}

.lettters-guess span.has-space::before {
  content: '';
  width: 20px;
  height: 4px;
  background-color: #222;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hangman-draw.wrong-1 .the-draw {
  display: block;
}

.hangman-draw.wrong-2 .stand {
  display: block;
}

.hangman-draw.wrong-3 .hang {
  display: block;
}

.hangman-draw.wrong-4 .rope {
  display: block;
}

.hangman-draw.wrong-5 .head {
  display: block;
}

.hangman-draw.wrong-6 .body {
  display: block;
}

.hangman-draw.wrong-7 .hands {
  display: block;
}

.hangman-draw.wrong-8 .legs {
  display: block;
}

.popup {
  position: fixed;
  background-color: #6eeed9;
  padding: 100px 20px;
  width: 80%;
  top: 10%;
  left: 10%;
  text-align: center;
  font-size: 40px;
  color: rgb(29, 28, 28);
  border: 1px solid rgb(41, 39, 39);

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.popup .play {
  padding: 20px;
  margin-top: 50px;
  width: 250px;
  background-color: rgb(211, 197, 197);
  color: rgb(202, 35, 35);
  border: 2px solid #ccc;
  cursor: pointer;
  align-self: center;
  display: block;
}
